# STOPWORDS

In [1]:
#creating a sample data

data = ['hello guys this is Arsh Mishra Here',
       'I dont stay late outside',
       'I am a tech person',
       'Contact me on social websites']

In [2]:
from nltk.corpus import stopwords

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Arsh
[nltk_data]     Mishra\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
stopwords = set(stopwords.words('english'))

In [6]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [7]:
# we can remove not from the stopwords list

if 'not' in stopwords:
    stopwords.remove('not')

In [8]:
#confirming

if 'not' in stopwords:
    print("found")
else:
    print("not here!")

not here!

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv1 = CountVectorizer(stop_words = stopwords)#here not is not present

cv2 = CountVectorizer()#here not is present

In [11]:
x_new1 = cv1.fit_transform(data).toarray()

x_new2 = cv2.fit_transform(data).toarray()

In [13]:
x_new1.shape

x_new2.shape

(4, 19)

In [14]:
for i in cv1.get_feature_names():
    print(i,end=',')

arsh,contact,dont,guys,hello,late,mishra,outside,person,social,stay,tech,websites,

In [15]:
for i in cv2.get_feature_names():
    print(i,end=',')

am,arsh,contact,dont,guys,hello,here,is,late,me,mishra,on,outside,person,social,stay,tech,this,websites,

In [16]:
import pandas as pd

In [17]:
df1 = pd.DataFrame(x_new1,columns = cv1.get_feature_names())
df1

,arsh,contact,dont,guys,hello,late,mishra,outside,person,social,stay,tech,websites
0,1,0,0,1,1,0,1,0,0,0,0,0,0
1,0,0,1,0,0,1,0,1,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0,1,0
3,0,1,0,0,0,0,0,0,0,1,0,0,1

In [19]:
df2 = pd.DataFrame(x_new2,columns = cv2.get_feature_names())
df2

,am,arsh,contact,dont,guys,hello,here,is,late,me,mishra,on,outside,person,social,stay,tech,this,websites
0,0,1,0,0,1,1,1,1,0,0,1,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
3,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1

# WORKING ON EMAIL SPAM FILTERING DATA

In [20]:
dataset = pd.read_csv('datasets/sms.tsv',sep='\t',header=None,names = ['target','message'])

In [21]:
dataset.head()

  target                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
dataset.shape

(5572, 2)

In [23]:
import re

In [27]:
def clean(x):
    s = re.sub('[^A-Za-z]',' ',x)
    s = re.sub('\s+',' ',s)
    s = s.strip()
    return s.lower()

In [28]:
dataset.target.unique()

array(['ham', 'spam'], dtype=object)

In [29]:
#applying the clean function on the message column
dataset['message'] = dataset.message.apply(clean)

In [30]:
dataset.head()

  target                                            message
0    ham  go until jurong point crazy available only in ...
1    ham                            ok lar joking wif u oni
2   spam  free entry in a wkly comp to win fa cup final ...
3    ham        u dun say so early hor u c already then say
4    ham  nah i don t think he goes to usf he lives arou...

In [31]:
#ham -> class 0
#spam -> class 1

In [32]:
dataset['target'] = dataset.target.map({'spam':1,'ham':0})

In [33]:
dataset.head()

   target                                            message
0       0  go until jurong point crazy available only in ...
1       0                            ok lar joking wif u oni
2       1  free entry in a wkly comp to win fa cup final ...
3       0        u dun say so early hor u c already then say
4       0  nah i don t think he goes to usf he lives arou...

In [34]:
from nltk.corpus import stopwords

In [35]:
stopwords = set(stopwords.words('english'))

In [36]:
# we can remove not from the stopwords list

if 'not' in stopwords:
    stopwords.remove('not')

In [37]:
x = dataset.message.values

y = dataset.target.values

In [38]:
cv = CountVectorizer(stop_words=stopwords)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size=.2,random_state = 22)

In [42]:
cv_train=cv.fit_transform(xtrain).toarray()

In [43]:
cv_test = cv.transform(xtest).toarray()

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
log = LogisticRegression()

In [46]:
log.fit(cv_train,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
score = log.score(cv_test,ytest)

In [48]:
score

0.9627635711081203

In [49]:
test = ['Hello arsh i will call u @ 12!']

In [51]:
cleaned_data=[]
for i in test:
    cleaned_data.append(clean(i))

In [52]:
test_sample = cv.transform(cleaned_data)

In [53]:
test_sample.shape

(1, 3027)

In [54]:
log.predict(test_sample)

array([0], dtype=int64)

In [ ]:
# so it is not spam