# Multiple Linear Regression

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("datasets/50_Startups.csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
#profit -> target variable

#state -> categorical variable

In [5]:
data.shape

(50, 5)

In [6]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [7]:
data.State.value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [8]:
#it's the case of nominal features ->we will use one hot encoding

In [9]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [10]:
d = pd.get_dummies(data['State'],drop_first=True)

In [11]:
d.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [12]:
f = data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [13]:
f.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [15]:
x = pd.concat((f,d),axis=1).values

In [16]:
y = data['Profit'].values

In [17]:
x.shape

(50, 5)

In [18]:
#splitting the data

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=15, random_state=10)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
std = StandardScaler()

In [22]:
std_train  = std.fit_transform(x_train)
std_test = std.transform(x_test)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
reg  = LinearRegression()

In [25]:
reg.fit(std_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
y_pred = reg.predict(std_test)

In [27]:
r2_score(y_test,y_pred)

0.9796796125080421